<h1>whenever-app</h1>
<p>現在時刻：<%= Time.current.strftime("%H時%M分") %></p>


<%= form_tag("/topics/create") do %>
  <input type="time" name="deadline" min="00:00" max="24:00">
  <textarea name="content"></textarea>
  <input type="submit" value="新規作成">
<% end %>


<% @topics.each do |topic| %>
  <p>====================================</p>
  <p>コメント：<%= topic.content %></p>
  <p>作られた時間：<%= topic.deadline.strftime("%H時%M分") %></p>
<% end %>


<%= link_to "削除", "/topics/destroy", method: "post" %>

